In [1]:
import requests,os
from lxml import html
import pandas as pd
import numpy as np
import datetime
from yahoo_earnings_calendar import YahooEarningsCalendar
threshold=1

## Yahoo Finance

In [2]:
yec = YahooEarningsCalendar()
date_from=pd.to_datetime(input("Enter the Start Date Format 2020-10-29 13:00:00   "))
date_to=pd.to_datetime(input("Enter the end date Format 2020-10-29 13:00:00    "))

Enter the Start Date Format 2020-10-29 13:00:00   2020-10-29 13:00:00
Enter the end date Format 2020-10-29 13:00:00    2020-10-29 13:00:00

In [24]:
data=yec.earnings_between(date_from,date_to)
df=pd.DataFrame(data)
df.head()

,ticker,companyshortname,startdatetime,startdatetimetype,epsestimate,epsactual,epssurprisepct,timeZoneShortName,gmtOffsetMilliSeconds,quoteType
0,SPRBF,SpareBank 1 Østlandet,2020-10-30T00:00:00.000Z,TNS,2.11,2.60,23.34,EST,0,EQUITY
1,SRMGF,SpareBank 1 SMN,2020-10-30T00:00:00.000Z,TNS,2.13,2.35,10.59,EST,0,EQUITY
2,PSX,Phillips 66,2020-10-30T00:00:00.000Z,TNS,-0.79,-0.01,98.74,EST,0,EQUITY
3,PSXP,Phillips 66 Partners LP,2020-10-30T00:00:00.000Z,TNS,0.84,0.85,1.19,EST,0,EQUITY
4,IUSDF,AS ONE Corporation,2020-10-30T00:00:00.000Z,TNS,NaN,71.35,NaN,EST,0,EQUITY

In [46]:
met=lambda x: x if(len(x)>100) else ''

In [47]:
cp=met(df.companyshortname.unique())

'transcosmos inc.'

In [26]:
a=df.startdatetime[5]

In [30]:
pd.to_datetime(a).strftime("%Y-%m-%d %H:%M:%S")

'2020-10-29 20:00:00'

In [31]:
df.startdatetime=df.startdatetime.apply(lambda a: pd.to_datetime(a).strftime("%Y-%m-%d %H:%M:%S"))

In [32]:
df.fillna(0,inplace=True)

In [33]:
df.to_excel('earningcalender.xlsx',index=False)

In [35]:
df.head(20)

,ticker,companyshortname,startdatetime,startdatetimetype,epsestimate,epsactual,epssurprisepct,timeZoneShortName,gmtOffsetMilliSeconds,quoteType
0,SPRBF,SpareBank 1 Østlandet,2020-10-30 00:00:00,TNS,2.11,2.60,23.34,EST,0,EQUITY
1,SRMGF,SpareBank 1 SMN,2020-10-30 00:00:00,TNS,2.13,2.35,10.59,EST,0,EQUITY
2,PSX,Phillips 66,2020-10-30 00:00:00,TNS,-0.79,-0.01,98.74,EST,0,EQUITY
3,PSXP,Phillips 66 Partners LP,2020-10-30 00:00:00,TNS,0.84,0.85,1.19,EST,0,EQUITY
4,IUSDF,AS ONE Corporation,2020-10-30 00:00:00,TNS,0.00,71.35,0.00,EST,0,EQUITY
5,STND,Standard AVB Financial Corp,2020-10-29 20:00:00,AMC,0.00,0.00,0.00,EST,-18000000,EQUITY
6,VBFC,Village Bank and Trust Financial Corp,2020-10-29 20:00:00,AMC,0.00,0.00,0.00,EST,-18000000,EQUITY
7,ABBV,AbbVie Inc.,2020-10-30 00:00:00,TNS,2.77,2.83,2.35,EST,0,EQUITY
8,AKTS,"Akoustis Technologies, Inc.",2020-10-30 00:00:00,TNS,-0.23,-0.31,-37.17,EST,0,EQUITY
9,BAH,Booz Allen Hamilton Holding Corporation,2020-10-30 00:00:00,TNS,0.92,1.03,12.32,EST,0,EQUITY
10,ICAGY,"International Consolidated Airlines Group, S.A.",2020-10-30 00:00:00,TNS,0.00,0.00,0.00,EST,0,EQUITY
11,UAA,"Under Armour, Inc.",2020-10-30 00:00:00,TNS,0.03,0.26,900.00,EST,0,EQUITY
12,ZLIOF,Zoomlion Heavy Industry Science and Technology...,2020-10-30 00:00:00,TNS,0.23,0.22,-4.35,EST,0,EQUITY
13,KGAUF,Kongsberg Automotive ASA,2020-10-30 00:00:00,TNS,-0.01,0.00,100.00,EST,0,EQUITY
14,SSREF,Swiss Re AG,2020-10-30 00:00:00,TNS,0.00,0.00,0.00,EST,0,EQUITY
15,NHMAF,Nihon M&A Center Inc.,2020-10-30 00:00:00,TNS,22.36,20.78,-7.07,EST,0,EQUITY
16,ALGM,"Allegro MicroSystems, Inc.",2020-10-30 00:00:00,TNS,0.00,0.00,0.00,EST,0,EQUITY
17,NSKFF,Kongsberg Gruppen ASA,2020-10-30 00:00:00,TNS,1.30,2.37,81.89,EST,0,EQUITY
18,IDCBF,Industrial and Commercial Bank of China Limited,2020-10-30 00:00:00,TNS,0.19,0.22,18.92,EST,0,EQUITY
19,MO,"Altria Group, Inc.",2020-10-30 00:00:00,TNS,1.16,1.19,2.94,EST,0,EQUITY

In [121]:
a=np.arange(0,5)

In [4]:
df=df.sort_values(by=['epsestimate'],ascending=False)
df=df[df.epsestimate>threshold]

In [140]:
def ProcessAnalysisData(columns,table_data,company):
    df_list=[]
    batch=0
    for j in range(5):
        mcols=[]
        sdata=table_data[batch:5+batch]
        for i in range(5):
            mcols.append(sdata[i][0])
        test=pd.DataFrame(columns=mcols)
        test.insert(0,'Quarter',columns[1][1:])
        for idx,colm in enumerate(mcols):
            test[colm]=sdata[idx][1:]
            try:
                test[colm]=test[colm].astype(float)
            except:
                pass
        test['date']=datetime.datetime.now().strftime("%Y-%m-%d")
        test['ticker']=company
        #analysis=pd.concat([analysis,test])
        test.replace('N/A',0,inplace=True)
        df_list.append(test)
        #display(test)
        batch+=5
    return df_list

In [141]:
df_list=ProcessAnalysisData(columns,table_data)

In [145]:
len(df_list)

5

In [146]:
for company in tqdm(df.ticker.tolist()):
    res=requests.get(f'https://finance.yahoo.com/quote/{company}/analysis?p={company}')
    tree=html.fromstring(res.text)
    columns=[]
    table_data=[]
    if(tree.xpath('//*[@id="Col1-0-AnalystLeafPage-Proxy"]/section/table')):
        for table in tree.xpath('//*[@id="Col1-0-AnalystLeafPage-Proxy"]/section/table'):
            col=[]
            for head in table.xpath('./thead'):
                for span in head.xpath('./tr/th'): 
                    col.append(span.text_content())
                    #print(span.text_content())
            columns.append(col)
            for row in table.xpath('./tbody/tr'):

                roww=[]
                for td in row.xpath('./td'):
                    roww.append(td.text_content())
                table_data.append(roww)
        #analysis=pd.DataFrame()
        batch=0
        for i in range(6):
            mcols=[]
            sdata=table_data[batch:5+batch]
            for i in range(5):
                mcols.append(sdata[i][0])
            test=pd.DataFrame(columns=mcols)
            test.insert(0,'Quarter',columns[1][1:])
            for id,colm in enumerate(mcols):
                test[colm]=sdata[id][1:]
                try:
                    test[colm]=test[colm].astype(float)
                except:
                    pass
            test['date']=datetime.datetime.now().strftime("%Y-%m-%d")
            test['ticker']=company
            #analysis=pd.concat([analysis,test])
            test.replace('N/A',0,inplace=True)
            display(test)
            batch+=5
        else:
            pass
        #print(f"No Data Found {company}")

 11%|████████▉                                                                          | 6/56 [00:07<01:06,  1.33s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),1.0,0.76,0.76,0.76,79.42,2021-01-30,KDDIF
1,Next Qtr. (Mar 2021),1.0,0.36,0.36,0.36,0.44,2021-01-30,KDDIF
2,Current Year (2021),11.0,2.71,2.61,2.77,2.57,2021-01-30,KDDIF
3,Next Year (2022),11.0,2.78,2.54,2.93,2.71,2021-01-30,KDDIF

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),3.0,12.92M,12.82M,13.04M,12.47M,2021-01-30,KDDIF
1,Next Qtr. (Mar 2021),5.0,12.86M,12.25M,13.15M,12.44M,2021-01-30,KDDIF
2,Current Year (2021),11.0,50.19M,49.33M,50.83M,48.82M,2021-01-30,KDDIF
3,Next Year (2022),11.0,51.14M,47.81M,52.52M,50.19M,2021-01-30,KDDIF

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),3.60%,73.12,79.42,6.30,8.60%,2021-01-30,KDDIF
1,Next Qtr. (Mar 2021),3.40%,0.41,0.44,0.03,7.30%,2021-01-30,KDDIF
2,Current Year (2021),2.80%,0.68,0.75,0.07,10.30%,2021-01-30,KDDIF
3,Next Year (2022),1.90%,0.74,0.80,0.06,8.10%,2021-01-30,KDDIF

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),0.76,0.76,0.77,0.76,0.73,2021-01-30,KDDIF
1,Next Qtr. (Mar 2021),0.36,0.36,0.36,0.36,0.55,2021-01-30,KDDIF
2,Current Year (2021),2.71,2.71,2.73,2.69,2.71,2021-01-30,KDDIF
3,Next Year (2022),2.78,2.80,2.82,2.80,2.79,2021-01-30,KDDIF

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,0,0,0,-99.00%,2021-01-30,KDDIF
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,KDDIF
2,Current Year (2021),1,1,0,0,0,2021-01-30,KDDIF
3,Next Year (2022),1,1,0,0,0,2021-01-30,KDDIF

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),-18.20%,5.40%,2.60%,-0.01%,9.05%,2021-01-30,KDDIF
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,KDDIF
2,Current Year (2021),0,0,0,0,0,2021-01-30,KDDIF
3,Next Year (2022),0,0,0,0,0,2021-01-30,KDDIF

 34%|███████████████████████████▊                                                      | 19/56 [00:24<00:53,  1.44s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),1.0,27.17,27.17,27.17,0.28,2021-01-30,NGKIF
1,Next Qtr. (Mar 2021),1.0,18.30,18.30,18.30,0.29,2021-01-30,NGKIF
2,Current Year (2021),6.0,72.48,56.80,90.00,0.79,2021-01-30,NGKIF
3,Next Year (2022),6.0,120.30,103.60,150.00,72.48,2021-01-30,NGKIF

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),5.0,114.85M,112M,118M,0,2021-01-30,NGKIF
1,Next Qtr. (Mar 2021),5.0,119.36M,115.77M,122.27M,1.05M,2021-01-30,NGKIF
2,Current Year (2021),6.0,427.43M,421M,435M,4.12M,2021-01-30,NGKIF
3,Next Year (2022),6.0,471.9M,458M,489.8M,427.43M,2021-01-30,NGKIF

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),0,0.31,0.28,-0.03,-9.70%,2021-01-30,NGKIF
1,Next Qtr. (Mar 2021),"11,217.60%",0.34,0.29,-0.05,-14.70%,2021-01-30,NGKIF
2,Current Year (2021),"10,266.90%",-0.03,-0.01,0.02,66.70%,2021-01-30,NGKIF
3,Next Year (2022),10.40%,0.22,0.23,0.01,4.50%,2021-01-30,NGKIF

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),27.17,0.26,0.26,0.26,0.26,2021-01-30,NGKIF
1,Next Qtr. (Mar 2021),18.30,0.18,0.18,0.18,0.17,2021-01-30,NGKIF
2,Current Year (2021),72.48,0.70,0.70,0.69,0.60,2021-01-30,NGKIF
3,Next Year (2022),120.30,1.16,1.17,1.15,1.10,2021-01-30,NGKIF

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,0,0,0,"9,603.60%",2021-01-30,NGKIF
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,NGKIF
2,Current Year (2021),0,0,0,0,0,2021-01-30,NGKIF
3,Next Year (2022),0,0,0,0,0,2021-01-30,NGKIF

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),"6,210.30%","9,074.70%",66.00%,25.01%,-13.66%,2021-01-30,NGKIF
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,NGKIF
2,Current Year (2021),0,0,0,0,0,2021-01-30,NGKIF
3,Next Year (2022),0,0,0,0,0,2021-01-30,NGKIF

 41%|█████████████████████████████████▋                                                | 23/56 [00:29<00:43,  1.31s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr.,0.0,0.0,0.0,0.0,0,2021-01-30,KYKOF
1,Next Qtr.,0.0,0.0,0.0,0.0,0,2021-01-30,KYKOF
2,Current Year,0.0,0.0,0.0,0.0,0,2021-01-30,KYKOF
3,Next Year,0.0,0.0,0.0,0.0,0,2021-01-30,KYKOF

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr.,0.0,0,0,0,0,2021-01-30,KYKOF
1,Next Qtr.,0.0,0,0,0,0,2021-01-30,KYKOF
2,Current Year,0.0,0,0,0,0,2021-01-30,KYKOF
3,Next Year,0.0,0,0,0,0,2021-01-30,KYKOF

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr.,0,0,0,0,0,2021-01-30,KYKOF
1,Next Qtr.,0,0,0,0,0,2021-01-30,KYKOF
2,Current Year,0,0,0,0,0,2021-01-30,KYKOF
3,Next Year,0,0,0,0,0,2021-01-30,KYKOF

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr.,0.0,0.0,0.0,0.0,0.0,2021-01-30,KYKOF
1,Next Qtr.,0.0,0.0,0.0,0.0,0.0,2021-01-30,KYKOF
2,Current Year,0.0,0.0,0.0,0.0,0.0,2021-01-30,KYKOF
3,Next Year,0.0,0.0,0.0,0.0,0.0,2021-01-30,KYKOF

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr.,0,0,0,0,0,2021-01-30,KYKOF
1,Next Qtr.,0,0,0,0,0,2021-01-30,KYKOF
2,Current Year,0,0,0,0,0,2021-01-30,KYKOF
3,Next Year,0,0,0,0,0,2021-01-30,KYKOF

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr.,0,0,0,0,-0.47%,2021-01-30,KYKOF
1,Next Qtr.,0,0,0,0,0,2021-01-30,KYKOF
2,Current Year,0,0,0,0,0,2021-01-30,KYKOF
3,Next Year,0,0,0,0,0,2021-01-30,KYKOF

 57%|██████████████████████████████████████████████▊                                   | 32/56 [00:42<00:34,  1.44s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),1.0,5.13,5.13,5.13,1.44,2021-01-30,FSFG
1,Next Qtr. (Mar 2021),1.0,2.13,2.13,2.13,-0.26,2021-01-30,FSFG
2,Current Year (2021),1.0,11.35,11.35,11.35,14.04,2021-01-30,FSFG
3,Next Year (2022),0.0,0.00,0.00,0.00,11.35,2021-01-30,FSFG

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),1.0,14.59M,14.59M,14.59M,10.89M,2021-01-30,FSFG
1,Next Qtr. (Mar 2021),1.0,13.85M,13.85M,13.85M,10.91M,2021-01-30,FSFG
2,Current Year (2021),1.0,56.14M,56.14M,56.14M,49.39M,2021-01-30,FSFG
3,Next Year (2022),0.0,0,0,0,56.14M,2021-01-30,FSFG

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),34.00%,1.80,1.44,-0.36,-20.00%,2021-01-30,FSFG
1,Next Qtr. (Mar 2021),26.90%,0.95,-0.26,-1.21,-127.40%,2021-01-30,FSFG
2,Current Year (2021),13.70%,1.70,6.51,4.81,282.90%,2021-01-30,FSFG
3,Next Year (2022),0,5.19,6.39,1.20,23.10%,2021-01-30,FSFG

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),5.13,5.13,5.08,5.08,1.75,2021-01-30,FSFG
1,Next Qtr. (Mar 2021),2.13,2.13,2.08,2.08,1.63,2021-01-30,FSFG
2,Current Year (2021),11.35,11.35,11.15,11.15,6.45,2021-01-30,FSFG
3,Next Year (2022),0.00,0.00,0.00,0.00,0.00,2021-01-30,FSFG

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,1,0,0,256.20%,2021-01-30,FSFG
1,Next Qtr. (Mar 2021),0,1,0,0,0,2021-01-30,FSFG
2,Current Year (2021),0,1,0,0,0,2021-01-30,FSFG
3,Next Year (2022),0,0,0,0,0,2021-01-30,FSFG

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),919.20%,-19.20%,0,0,20.15%,2021-01-30,FSFG
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,FSFG
2,Current Year (2021),0,0,0,0,0,2021-01-30,FSFG
3,Next Year (2022),0,0,0,0,0,2021-01-30,FSFG

 59%|████████████████████████████████████████████████▎                                 | 33/56 [00:43<00:32,  1.43s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),2.0,0.64,0.64,0.64,0.59,2021-01-30,NVO
1,Next Qtr. (Mar 2021),1.0,0.85,0.85,0.85,0.82,2021-01-30,NVO
2,Current Year (2020),3.0,2.91,2.89,2.93,2.66,2021-01-30,NVO
3,Next Year (2021),3.0,3.11,3.06,3.21,2.91,2021-01-30,NVO

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),2.0,5.38B,5.34B,5.41B,5.2B,2021-01-30,NVO
1,Next Qtr. (Mar 2021),1.0,5.5B,5.5B,5.5B,5.49B,2021-01-30,NVO
2,Current Year (2020),3.0,20.69B,20.44B,20.84B,19.81B,2021-01-30,NVO
3,Next Year (2021),3.0,21.86B,21.42B,22.43B,20.69B,2021-01-30,NVO

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),3.50%,0.61,0.59,-0.02,-3.30%,2021-01-30,NVO
1,Next Qtr. (Mar 2021),0.10%,0.76,0.82,0.06,7.90%,2021-01-30,NVO
2,Current Year (2020),4.50%,0.72,0.72,0.00,0.00%,2021-01-30,NVO
3,Next Year (2021),5.60%,0.73,0.72,-0.01,-1.40%,2021-01-30,NVO

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),0.64,0.64,0.65,0.63,0.66,2021-01-30,NVO
1,Next Qtr. (Mar 2021),0.85,0.85,0.86,0.83,0.82,2021-01-30,NVO
2,Current Year (2020),2.91,2.92,2.96,2.86,2.87,2021-01-30,NVO
3,Next Year (2021),3.11,3.13,3.18,3.09,3.11,2021-01-30,NVO

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,0,0,0,8.50%,2021-01-30,NVO
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,NVO
2,Current Year (2020),0,0,0,0,0,2021-01-30,NVO
3,Next Year (2021),0,0,0,0,0,2021-01-30,NVO

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),3.70%,9.40%,6.90%,1.47%,5.69%,2021-01-30,NVO
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,NVO
2,Current Year (2020),0,0,0,0,0,2021-01-30,NVO
3,Next Year (2021),0,0,0,0,0,2021-01-30,NVO

 61%|█████████████████████████████████████████████████▊                                | 34/56 [00:45<00:34,  1.55s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),16.0,3.47,2.95,3.94,2.64,2021-01-30,LEA
1,Next Qtr. (Mar 2021),9.0,3.34,2.52,4.02,2.05,2021-01-30,LEA
2,Current Year (2020),19.0,5.18,4.62,6.17,13.99,2021-01-30,LEA
3,Next Year (2021),20.0,14.15,8.81,15.80,5.18,2021-01-30,LEA

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),14.0,5.01B,4.8B,5.21B,4.82B,2021-01-30,LEA
1,Next Qtr. (Mar 2021),7.0,5.03B,4.67B,5.27B,4.46B,2021-01-30,LEA
2,Current Year (2020),17.0,16.78B,16.57B,17.01B,19.81B,2021-01-30,LEA
3,Next Year (2021),17.0,20.18B,18.59B,21.12B,16.78B,2021-01-30,LEA

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),3.90%,2.24,2.64,0.40,17.90%,2021-01-30,LEA
1,Next Qtr. (Mar 2021),12.90%,1.49,2.05,0.56,37.60%,2021-01-30,LEA
2,Current Year (2020),-15.30%,-4.68,-4.14,0.54,11.50%,2021-01-30,LEA
3,Next Year (2021),20.30%,3.14,3.73,0.59,18.80%,2021-01-30,LEA

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),3.47,3.39,3.35,3.34,3.38,2021-01-30,LEA
1,Next Qtr. (Mar 2021),3.34,3.29,3.33,3.23,3.08,2021-01-30,LEA
2,Current Year (2020),5.18,5.11,5.08,5.06,4.27,2021-01-30,LEA
3,Next Year (2021),14.15,14.01,13.74,13.55,12.75,2021-01-30,LEA

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),3.0,8.0,0,0,31.40%,2021-01-30,LEA
1,Next Qtr. (Mar 2021),1.0,2.0,0,0,0,2021-01-30,LEA
2,Current Year (2020),3.0,7.0,0,0,0,2021-01-30,LEA
3,Next Year (2021),3.0,9.0,0,0,0,2021-01-30,LEA

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),62.90%,-63.00%,173.20%,12.44%,14.11%,2021-01-30,LEA
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,LEA
2,Current Year (2020),0,0,0,0,0,2021-01-30,LEA
3,Next Year (2021),0,0,0,0,0,2021-01-30,LEA

 62%|███████████████████████████████████████████████████▎                              | 35/56 [00:46<00:31,  1.49s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),19.0,4.89,3.64,5.73,3.28,2021-01-30,CHTR
1,Next Qtr. (Mar 2021),10.0,4.38,4.02,4.94,1.86,2021-01-30,CHTR
2,Current Year (2020),19.0,14.13,12.72,15.03,7.45,2021-01-30,CHTR
3,Next Year (2021),24.0,20.93,18.41,24.00,14.13,2021-01-30,CHTR

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),22.0,12.57B,12.31B,12.73B,11.76B,2021-01-30,CHTR
1,Next Qtr. (Mar 2021),12.0,12.5B,12.2B,12.65B,11.74B,2021-01-30,CHTR
2,Current Year (2020),27.0,48.04B,47.72B,48.2B,45.76B,2021-01-30,CHTR
3,Next Year (2021),27.0,50.79B,49.54B,51.43B,48.04B,2021-01-30,CHTR

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),6.90%,2.49,3.28,0.79,31.70%,2021-01-30,CHTR
1,Next Qtr. (Mar 2021),6.50%,2.73,1.86,-0.87,-31.90%,2021-01-30,CHTR
2,Current Year (2020),5.00%,2.44,3.63,1.19,48.80%,2021-01-30,CHTR
3,Next Year (2021),5.70%,3.03,3.90,0.87,28.70%,2021-01-30,CHTR

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),4.89,4.89,4.90,4.90,4.34,2021-01-30,CHTR
1,Next Qtr. (Mar 2021),4.38,4.38,4.40,4.54,4.08,2021-01-30,CHTR
2,Current Year (2020),14.13,14.13,14.14,14.15,12.79,2021-01-30,CHTR
3,Next Year (2021),20.93,20.99,21.11,20.99,19.51,2021-01-30,CHTR

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,3.0,0,0,49.10%,2021-01-30,CHTR
1,Next Qtr. (Mar 2021),0,2.0,0,0,0,2021-01-30,CHTR
2,Current Year (2020),0,4.0,0,1,0,2021-01-30,CHTR
3,Next Year (2021),0,4.0,0,1,0,2021-01-30,CHTR

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),135.50%,89.70%,48.10%,51.85%,-0.81%,2021-01-30,CHTR
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,CHTR
2,Current Year (2020),0,0,0,0,0,2021-01-30,CHTR
3,Next Year (2021),0,0,0,0,0,2021-01-30,CHTR

 64%|████████████████████████████████████████████████████▋                             | 36/56 [00:48<00:28,  1.42s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),11.0,0.08,-0.03,0.55,0.57,2021-01-30,PNW
1,Next Qtr. (Mar 2021),7.0,0.21,-0.02,0.35,0.27,2021-01-30,PNW
2,Current Year (2020),15.0,5.05,4.80,5.20,4.77,2021-01-30,PNW
3,Next Year (2021),14.0,5.02,4.82,5.25,5.05,2021-01-30,PNW

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),4.0,715.74M,673M,766.78M,670.39M,2021-01-30,PNW
1,Next Qtr. (Mar 2021),4.0,710.96M,678.99M,740.12M,661.93M,2021-01-30,PNW
2,Current Year (2020),11.0,3.59B,3.5B,3.68B,3.47B,2021-01-30,PNW
3,Next Year (2021),11.0,3.73B,3.61B,3.92B,3.59B,2021-01-30,PNW

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),6.80%,0.46,0.57,0.11,23.90%,2021-01-30,PNW
1,Next Qtr. (Mar 2021),7.40%,0.15,0.27,0.12,80.00%,2021-01-30,PNW
2,Current Year (2020),3.30%,1.47,1.71,0.24,16.30%,2021-01-30,PNW
3,Next Year (2021),3.90%,2.85,3.07,0.22,7.70%,2021-01-30,PNW

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),0.08,0.08,0.09,0.09,0.17,2021-01-30,PNW
1,Next Qtr. (Mar 2021),0.21,0.21,0.22,0.22,0.22,2021-01-30,PNW
2,Current Year (2020),5.05,5.04,5.04,5.03,4.90,2021-01-30,PNW
3,Next Year (2021),5.02,5.02,5.05,5.05,5.01,2021-01-30,PNW

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,2.0,0,1,-86.00%,2021-01-30,PNW
1,Next Qtr. (Mar 2021),0,2.0,0,0,0,2021-01-30,PNW
2,Current Year (2020),1,3.0,0,0,0,2021-01-30,PNW
3,Next Year (2021),0,1.0,0,1,0,2021-01-30,PNW

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),-22.20%,5.90%,-0.60%,3.70%,13.63%,2021-01-30,PNW
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,PNW
2,Current Year (2020),0,0,0,0,0,2021-01-30,PNW
3,Next Year (2021),0,0,0,0,0,2021-01-30,PNW

 66%|██████████████████████████████████████████████████████▏                           | 37/56 [00:49<00:26,  1.37s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),18.0,2.85,2.74,2.90,2.21,2021-01-30,ABBV
1,Next Qtr. (Mar 2021),9.0,2.82,2.21,3.27,2.42,2021-01-30,ABBV
2,Current Year (2020),23.0,10.48,10.36,10.59,8.94,2021-01-30,ABBV
3,Next Year (2021),23.0,12.18,11.24,12.68,10.48,2021-01-30,ABBV

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),15.0,13.7B,13.47B,13.79B,8.7B,2021-01-30,ABBV
1,Next Qtr. (Mar 2021),6.0,12.96B,12.34B,13.65B,8.62B,2021-01-30,ABBV
2,Current Year (2020),20.0,45.64B,45.4B,45.74B,33.27B,2021-01-30,ABBV
3,Next Year (2021),20.0,53.92B,52.76B,55.83B,45.64B,2021-01-30,ABBV

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),57.40%,2.19,2.21,0.02,0.90%,2021-01-30,ABBV
1,Next Qtr. (Mar 2021),50.30%,2.25,2.42,0.17,7.60%,2021-01-30,ABBV
2,Current Year (2020),37.20%,2.19,2.34,0.15,6.80%,2021-01-30,ABBV
3,Next Year (2021),18.10%,2.76,2.83,0.07,2.50%,2021-01-30,ABBV

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),2.85,2.85,2.86,2.86,2.90,2021-01-30,ABBV
1,Next Qtr. (Mar 2021),2.82,2.85,2.86,2.81,2.84,2021-01-30,ABBV
2,Current Year (2020),10.48,10.48,10.49,10.47,10.42,2021-01-30,ABBV
3,Next Year (2021),12.18,12.19,12.19,12.19,12.10,2021-01-30,ABBV

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),1,1,0,1,29.00%,2021-01-30,ABBV
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,ABBV
2,Current Year (2020),2,3,0,2,0,2021-01-30,ABBV
3,Next Year (2021),1,4,0,5,0,2021-01-30,ABBV

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),16.50%,17.20%,16.20%,11.22%,21.91%,2021-01-30,ABBV
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,ABBV
2,Current Year (2020),0,0,0,0,0,2021-01-30,ABBV
3,Next Year (2021),0,0,0,0,0,2021-01-30,ABBV

 68%|███████████████████████████████████████████████████████▋                          | 38/56 [00:50<00:24,  1.34s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),19.0,3.09,3.03,3.17,2.85,2021-01-30,LHX
1,Next Qtr. (Mar 2021),11.0,3.01,2.90,3.11,2.80,2021-01-30,LHX
2,Current Year (2020),19.0,11.56,11.52,11.61,10.08,2021-01-30,LHX
3,Next Year (2021),20.0,12.95,12.40,13.40,11.56,2021-01-30,LHX

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),17.0,4.89B,4.78B,5B,4.83B,2021-01-30,LHX
1,Next Qtr. (Mar 2021),6.0,4.69B,4.63B,4.74B,4.63B,2021-01-30,LHX
2,Current Year (2020),19.0,18.41B,18.31B,18.5B,18.07B,2021-01-30,LHX
3,Next Year (2021),19.0,19.24B,18.91B,19.95B,18.41B,2021-01-30,LHX

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),1.20%,2.78,2.85,0.07,2.50%,2021-01-30,LHX
1,Next Qtr. (Mar 2021),1.40%,2.62,2.80,0.18,6.90%,2021-01-30,LHX
2,Current Year (2020),1.90%,2.61,2.83,0.22,8.40%,2021-01-30,LHX
3,Next Year (2021),4.50%,2.73,2.84,0.11,4.00%,2021-01-30,LHX

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),3.09,3.09,3.08,3.08,3.06,2021-01-30,LHX
1,Next Qtr. (Mar 2021),3.01,3.02,3.05,3.05,3.06,2021-01-30,LHX
2,Current Year (2020),11.56,11.56,11.56,11.56,11.43,2021-01-30,LHX
3,Next Year (2021),12.95,12.96,13.08,13.08,12.89,2021-01-30,LHX

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,2,0,0,8.40%,2021-01-30,LHX
1,Next Qtr. (Mar 2021),0,1,0,0,0,2021-01-30,LHX
2,Current Year (2020),0,1,0,0,0,2021-01-30,LHX
3,Next Year (2021),0,0,0,0,0,2021-01-30,LHX

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),7.50%,14.70%,12.00%,12.88%,13.01%,2021-01-30,LHX
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,LHX
2,Current Year (2020),0,0,0,0,0,2021-01-30,LHX
3,Next Year (2021),0,0,0,0,0,2021-01-30,LHX

 77%|██████████████████████████████████████████████████████████████▉                   | 43/56 [00:56<00:16,  1.24s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),4.0,1.08,0.74,1.39,0.37,2021-01-30,BCC
1,Next Qtr. (Mar 2021),4.0,0.85,0.40,1.29,0.31,2021-01-30,BCC
2,Current Year (2020),4.0,4.94,4.75,5.16,2.06,2021-01-30,BCC
3,Next Year (2021),4.0,3.61,3.25,3.91,4.94,2021-01-30,BCC

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),4.0,1.34B,1.31B,1.38B,1.1B,2021-01-30,BCC
1,Next Qtr. (Mar 2021),4.0,1.31B,1.21B,1.49B,1.17B,2021-01-30,BCC
2,Current Year (2020),4.0,5.34B,5.31B,5.38B,4.64B,2021-01-30,BCC
3,Next Year (2021),4.0,5.27B,5.07B,5.46B,5.34B,2021-01-30,BCC

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),21.60%,0.20,0.37,0.17,85.00%,2021-01-30,BCC
1,Next Qtr. (Mar 2021),11.90%,0.45,0.31,-0.14,-31.10%,2021-01-30,BCC
2,Current Year (2020),15.00%,0.54,0.85,0.31,57.40%,2021-01-30,BCC
3,Next Year (2021),-1.40%,1.86,2.61,0.75,40.30%,2021-01-30,BCC

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),1.08,0.87,0.81,0.81,0.85,2021-01-30,BCC
1,Next Qtr. (Mar 2021),0.85,0.60,0.52,0.52,0.66,2021-01-30,BCC
2,Current Year (2020),4.94,4.72,4.66,4.66,3.87,2021-01-30,BCC
3,Next Year (2021),3.61,3.23,3.11,3.11,3.02,2021-01-30,BCC

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),2.0,3.0,0,0,191.90%,2021-01-30,BCC
1,Next Qtr. (Mar 2021),2.0,3.0,0,0,0,2021-01-30,BCC
2,Current Year (2020),2.0,3.0,0,0,0,2021-01-30,BCC
3,Next Year (2021),2.0,3.0,0,0,0,2021-01-30,BCC

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),174.20%,139.80%,-26.90%,9.60%,17.53%,2021-01-30,BCC
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,BCC
2,Current Year (2020),0,0,0,0,0,2021-01-30,BCC
3,Next Year (2021),0,0,0,0,0,2021-01-30,BCC

 80%|█████████████████████████████████████████████████████████████████▉                | 45/56 [00:59<00:13,  1.22s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),20.0,2.00,1.96,2.02,2.06,2021-01-30,HON
1,Next Qtr. (Mar 2021),17.0,1.82,1.69,1.98,2.21,2021-01-30,HON
2,Current Year (2020),25.0,7.03,7.00,7.05,8.16,2021-01-30,HON
3,Next Year (2021),25.0,7.87,7.65,8.36,7.03,2021-01-30,HON

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),18.0,8.4B,8.26B,8.51B,9.5B,2021-01-30,HON
1,Next Qtr. (Mar 2021),14.0,7.93B,7.6B,8.17B,8.46B,2021-01-30,HON
2,Current Year (2020),23.0,32.15B,31.97B,32.36B,36.71B,2021-01-30,HON
3,Next Year (2021),23.0,33.95B,32.37B,35.3B,32.15B,2021-01-30,HON

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),-11.60%,2.04,2.06,0.02,1.00%,2021-01-30,HON
1,Next Qtr. (Mar 2021),-6.30%,1.95,2.21,0.26,13.30%,2021-01-30,HON
2,Current Year (2020),-12.40%,1.21,1.26,0.05,4.10%,2021-01-30,HON
3,Next Year (2021),5.60%,1.49,1.56,0.07,4.70%,2021-01-30,HON

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),2.00,2.00,2.00,1.99,1.88,2021-01-30,HON
1,Next Qtr. (Mar 2021),1.82,1.82,1.85,1.84,1.86,2021-01-30,HON
2,Current Year (2020),7.03,7.03,7.03,7.03,6.87,2021-01-30,HON
3,Next Year (2021),7.87,7.87,7.93,7.90,7.83,2021-01-30,HON

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,2.0,0,0,-2.90%,2021-01-30,HON
1,Next Qtr. (Mar 2021),0,1.0,0,0,0,2021-01-30,HON
2,Current Year (2020),0,1.0,0,0,0,2021-01-30,HON
3,Next Year (2021),0,2.0,0,0,0,2021-01-30,HON

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),-17.60%,-13.80%,11.90%,2.33%,8.26%,2021-01-30,HON
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,HON
2,Current Year (2020),0,0,0,0,0,2021-01-30,HON
3,Next Year (2021),0,0,0,0,0,2021-01-30,HON

 82%|███████████████████████████████████████████████████████████████████▎              | 46/56 [01:00<00:13,  1.33s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),16.0,2.46,2.28,2.58,2.53,2021-01-30,AON
1,Next Qtr. (Mar 2021),12.0,3.90,3.73,4.01,3.68,2021-01-30,AON
2,Current Year (2020),17.0,9.65,9.46,9.77,9.17,2021-01-30,AON
3,Next Year (2021),15.0,10.75,10.45,11.01,9.65,2021-01-30,AON

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),11.0,2.84B,2.79B,2.89B,2.88B,2021-01-30,AON
1,Next Qtr. (Mar 2021),12.0,3.29B,3.17B,3.35B,3.22B,2021-01-30,AON
2,Current Year (2020),13.0,10.95B,10.89B,10.99B,11.01B,2021-01-30,AON
3,Next Year (2021),13.0,11.32B,11.1B,11.61B,10.95B,2021-01-30,AON

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),-1.40%,2.47,2.53,0.06,2.40%,2021-01-30,AON
1,Next Qtr. (Mar 2021),2.20%,3.66,3.68,0.02,0.50%,2021-01-30,AON
2,Current Year (2020),-0.60%,1.93,1.96,0.03,1.60%,2021-01-30,AON
3,Next Year (2021),3.40%,1.49,1.53,0.04,2.70%,2021-01-30,AON

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),2.46,2.46,2.46,2.46,2.49,2021-01-30,AON
1,Next Qtr. (Mar 2021),3.90,3.90,3.89,3.89,3.90,2021-01-30,AON
2,Current Year (2020),9.65,9.65,9.66,9.66,9.63,2021-01-30,AON
3,Next Year (2021),10.75,10.75,10.72,10.72,10.70,2021-01-30,AON

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,4.0,0,0,-2.80%,2021-01-30,AON
1,Next Qtr. (Mar 2021),0,5.0,0,0,0,2021-01-30,AON
2,Current Year (2020),0,4.0,0,0,0,2021-01-30,AON
3,Next Year (2021),0,5.0,0,0,0,2021-01-30,AON

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),6.00%,5.20%,11.40%,7.66%,7.91%,2021-01-30,AON
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,AON
2,Current Year (2020),0,0,0,0,0,2021-01-30,AON
3,Next Year (2021),0,0,0,0,0,2021-01-30,AON

 84%|████████████████████████████████████████████████████████████████████▊             | 47/56 [01:02<00:12,  1.43s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),3.0,2.39,2.30,2.55,2.89,2021-01-30,PIPR
1,Next Qtr. (Mar 2021),3.0,1.89,1.61,2.13,1.48,2021-01-30,PIPR
2,Current Year (2020),3.0,8.21,8.11,8.37,7.36,2021-01-30,PIPR
3,Next Year (2021),3.0,8.02,7.65,8.25,8.21,2021-01-30,PIPR

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),3.0,309.84M,299.84M,314.97M,276.38M,2021-01-30,PIPR
1,Next Qtr. (Mar 2021),3.0,283.5M,271.46M,302.5M,224.38M,2021-01-30,PIPR
2,Current Year (2020),3.0,1.15B,1.14B,1.15B,823.8M,2021-01-30,PIPR
3,Next Year (2021),3.0,1.17B,1.15B,1.21B,1.15B,2021-01-30,PIPR

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),12.10%,1.90,2.89,0.99,52.10%,2021-01-30,PIPR
1,Next Qtr. (Mar 2021),26.30%,0.94,1.48,0.54,57.40%,2021-01-30,PIPR
2,Current Year (2020),39.00%,1.18,1.93,0.75,63.60%,2021-01-30,PIPR
3,Next Year (2021),2.20%,1.42,2.38,0.96,67.60%,2021-01-30,PIPR

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),2.39,2.39,2.03,1.52,1.05,2021-01-30,PIPR
1,Next Qtr. (Mar 2021),1.89,1.89,1.76,1.45,1.07,2021-01-30,PIPR
2,Current Year (2020),8.21,8.21,7.84,7.32,5.87,2021-01-30,PIPR
3,Next Year (2021),8.02,8.02,7.58,7.08,6.03,2021-01-30,PIPR

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,2.0,0,0,-17.30%,2021-01-30,PIPR
1,Next Qtr. (Mar 2021),0,2.0,0,0,0,2021-01-30,PIPR
2,Current Year (2020),0,2.0,0,0,0,2021-01-30,PIPR
3,Next Year (2021),0,2.0,0,0,0,2021-01-30,PIPR

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),27.70%,11.50%,-2.30%,10.00%,14.30%,2021-01-30,PIPR
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,PIPR
2,Current Year (2020),0,0,0,0,0,2021-01-30,PIPR
3,Next Year (2021),0,0,0,0,0,2021-01-30,PIPR

 86%|██████████████████████████████████████████████████████████████████████▎           | 48/56 [01:03<00:11,  1.48s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Jan 2021),11.0,0.66,0.55,0.80,0.37,2021-01-30,HOME
1,Next Qtr. (Apr 2021),8.0,0.22,0.17,0.33,-0.61,2021-01-30,HOME
2,Current Year (2021),10.0,2.21,2.11,2.30,0.57,2021-01-30,HOME
3,Next Year (2022),11.0,1.56,1.40,1.70,2.21,2021-01-30,HOME

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Jan 2021),9.0,518.6M,499M,539.59M,397.72M,2021-01-30,HOME
1,Next Qtr. (Apr 2021),7.0,338.66M,297.1M,372.53M,194.15M,2021-01-30,HOME
2,Current Year (2021),10.0,1.7B,1.67B,1.71B,1.37B,2021-01-30,HOME
3,Next Year (2022),10.0,1.66B,1.54B,1.75B,1.7B,2021-01-30,HOME

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Jan 2021),30.40%,0.36,0.37,0.01,2.80%,2021-01-30,HOME
1,Next Qtr. (Apr 2021),74.40%,-0.42,-0.61,-0.19,-45.20%,2021-01-30,HOME
2,Current Year (2021),24.30%,1.31,1.41,0.10,7.60%,2021-01-30,HOME
3,Next Year (2022),-2.40%,0.63,0.74,0.11,17.50%,2021-01-30,HOME

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Jan 2021),0.66,0.66,0.58,0.57,0.56,2021-01-30,HOME
1,Next Qtr. (Apr 2021),0.22,0.22,0.21,0.23,0.20,2021-01-30,HOME
2,Current Year (2021),2.21,2.21,2.13,1.97,1.76,2021-01-30,HOME
3,Next Year (2022),1.56,1.55,1.52,1.53,1.46,2021-01-30,HOME

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Jan 2021),1,10.0,0,0,78.40%,2021-01-30,HOME
1,Next Qtr. (Apr 2021),0,3.0,0,0,0,2021-01-30,HOME
2,Current Year (2021),1,10.0,0,0,0,2021-01-30,HOME
3,Next Year (2022),1,7.0,0,0,0,2021-01-30,HOME

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Jan 2021),136.10%,287.70%,-29.40%,24.30%,15.67%,2021-01-30,HOME
1,Next Qtr. (Apr 2021),0,0,0,0,0,2021-01-30,HOME
2,Current Year (2021),0,0,0,0,0,2021-01-30,HOME
3,Next Year (2022),0,0,0,0,0,2021-01-30,HOME

 91%|██████████████████████████████████████████████████████████████████████████▋       | 51/56 [01:07<00:06,  1.30s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),8.0,0.17,0.13,0.25,0.36,2021-01-30,PNM
1,Next Qtr. (Mar 2021),6.0,0.19,0.12,0.22,0.18,2021-01-30,PNM
2,Current Year (2020),8.0,2.28,2.27,2.32,2.16,2021-01-30,PNM
3,Next Year (2021),9.0,2.33,2.28,2.40,2.28,2021-01-30,PNM

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),3.0,422.99M,352.6M,553.24M,344.14M,2021-01-30,PNM
1,Next Qtr. (Mar 2021),2.0,388.27M,379.75M,396.8M,333.62M,2021-01-30,PNM
2,Current Year (2020),7.0,1.53B,1.48B,1.7B,1.46B,2021-01-30,PNM
3,Next Year (2021),7.0,1.61B,1.55B,1.78B,1.53B,2021-01-30,PNM

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),22.90%,0.33,0.36,0.03,9.10%,2021-01-30,PNM
1,Next Qtr. (Mar 2021),16.40%,0.17,0.18,0.01,5.90%,2021-01-30,PNM
2,Current Year (2020),4.90%,0.49,0.55,0.06,12.20%,2021-01-30,PNM
3,Next Year (2021),5.10%,1.26,1.40,0.14,11.10%,2021-01-30,PNM

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),0.17,0.17,0.17,0.17,0.23,2021-01-30,PNM
1,Next Qtr. (Mar 2021),0.19,0.19,0.19,0.17,0.16,2021-01-30,PNM
2,Current Year (2020),2.28,2.28,2.28,2.28,2.24,2021-01-30,PNM
3,Next Year (2021),2.33,2.33,2.33,2.34,2.33,2021-01-30,PNM

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,0,0,0,-52.80%,2021-01-30,PNM
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,PNM
2,Current Year (2020),0,0,0,0,0,2021-01-30,PNM
3,Next Year (2021),0,0,0,0,0,2021-01-30,PNM

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),5.60%,5.60%,2.20%,4.55%,4.02%,2021-01-30,PNM
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,PNM
2,Current Year (2020),0,0,0,0,0,2021-01-30,PNM
3,Next Year (2021),0,0,0,0,0,2021-01-30,PNM

 93%|████████████████████████████████████████████████████████████████████████████▏     | 52/56 [01:08<00:05,  1.30s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Mar 2021),9.0,1.06,1.02,1.10,1.09,2021-01-30,MO
1,Next Qtr. (Jun 2021),9.0,1.17,1.13,1.23,1.09,2021-01-30,MO
2,Current Year (2021),16.0,4.62,4.55,4.78,4.36,2021-01-30,MO
3,Next Year (2022),13.0,4.90,4.55,5.12,4.62,2021-01-30,MO

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Mar 2021),8.0,4.96B,4.72B,5.11B,5.05B,2021-01-30,MO
1,Next Qtr. (Jun 2021),8.0,5.34B,5.11B,5.63B,5.04B,2021-01-30,MO
2,Current Year (2021),13.0,21.19B,20.61B,21.88B,20.84B,2021-01-30,MO
3,Next Year (2022),10.0,21.57B,20.76B,23.41B,21.19B,2021-01-30,MO

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Mar 2021),-1.70%,0.98,1.09,0.11,11.20%,2021-01-30,MO
1,Next Qtr. (Jun 2021),5.90%,1.06,1.09,0.03,2.80%,2021-01-30,MO
2,Current Year (2021),1.70%,1.16,1.19,0.03,2.60%,2021-01-30,MO
3,Next Year (2022),1.80%,1.02,0.99,-0.03,-2.90%,2021-01-30,MO

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Mar 2021),1.06,1.07,1.07,1.07,1.07,2021-01-30,MO
1,Next Qtr. (Jun 2021),1.17,1.17,1.17,1.17,1.18,2021-01-30,MO
2,Current Year (2021),4.62,4.63,4.60,4.59,4.56,2021-01-30,MO
3,Next Year (2022),4.90,4.87,4.82,4.82,4.81,2021-01-30,MO

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Mar 2021),1.0,2.0,0,3.0,-2.80%,2021-01-30,MO
1,Next Qtr. (Jun 2021),2.0,4.0,0,1.0,0,2021-01-30,MO
2,Current Year (2021),2.0,6.0,0,3.0,0,2021-01-30,MO
3,Next Year (2022),3.0,6.0,0,1.0,0,2021-01-30,MO

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Mar 2021),7.30%,6.00%,6.10%,4.12%,11.39%,2021-01-30,MO
1,Next Qtr. (Jun 2021),0,0,0,0,0,2021-01-30,MO
2,Current Year (2021),0,0,0,0,0,2021-01-30,MO
3,Next Year (2022),0,0,0,0,0,2021-01-30,MO

 96%|███████████████████████████████████████████████████████████████████████████████   | 54/56 [01:11<00:02,  1.21s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),19.0,1.36,1.08,1.72,1.92,2021-01-30,LYB
1,Next Qtr. (Mar 2021),10.0,1.90,1.40,2.56,1.51,2021-01-30,LYB
2,Current Year (2020),16.0,4.81,4.52,5.12,9.58,2021-01-30,LYB
3,Next Year (2021),22.0,7.88,6.81,9.20,4.81,2021-01-30,LYB

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),13.0,7.03B,6.08B,7.82B,8.18B,2021-01-30,LYB
1,Next Qtr. (Mar 2021),5.0,7.87B,7.42B,8.71B,7.49B,2021-01-30,LYB
2,Current Year (2020),21.0,26.82B,25.9B,27.64B,34.73B,2021-01-30,LYB
3,Next Year (2021),19.0,31.16B,27.86B,34.32B,26.82B,2021-01-30,LYB

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),-14.00%,2.26,1.92,-0.34,-15.00%,2021-01-30,LYB
1,Next Qtr. (Mar 2021),5.10%,1.56,1.51,-0.05,-3.20%,2021-01-30,LYB
2,Current Year (2020),-22.80%,0.65,0.71,0.06,9.20%,2021-01-30,LYB
3,Next Year (2021),16.20%,1.12,1.27,0.15,13.40%,2021-01-30,LYB

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),1.36,1.36,1.28,1.22,1.44,2021-01-30,LYB
1,Next Qtr. (Mar 2021),1.90,1.90,1.69,1.61,1.63,2021-01-30,LYB
2,Current Year (2020),4.81,4.83,4.74,4.70,4.79,2021-01-30,LYB
3,Next Year (2021),7.88,7.72,7.42,7.15,7.34,2021-01-30,LYB

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),1,6.0,0,1.0,-29.20%,2021-01-30,LYB
1,Next Qtr. (Mar 2021),0,4.0,0,1.0,0,2021-01-30,LYB
2,Current Year (2020),2,9.0,0,2.0,0,2021-01-30,LYB
3,Next Year (2021),2,11.0,0,2.0,0,2021-01-30,LYB

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),25.80%,-49.80%,63.80%,-4.07%,0.88%,2021-01-30,LYB
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,LYB
2,Current Year (2020),0,0,0,0,0,2021-01-30,LYB
3,Next Year (2021),0,0,0,0,0,2021-01-30,LYB

 98%|████████████████████████████████████████████████████████████████████████████████▌ | 55/56 [01:12<00:01,  1.36s/it]

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),15.0,1.23,1.18,1.26,1.21,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),15.0,1.24,1.18,1.34,1.65,2021-01-30,CBOE
2,Current Year (2020),16.0,5.28,5.17,5.32,4.73,2021-01-30,CBOE
3,Next Year (2021),18.0,5.11,4.87,5.50,5.28,2021-01-30,CBOE

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),12.0,306.39M,302M,311.7M,280.3M,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),12.0,312.99M,295M,336.62M,358.3M,2021-01-30,CBOE
2,Current Year (2020),13.0,1.25B,1.24B,1.26B,1.14B,2021-01-30,CBOE
3,Next Year (2021),15.0,1.26B,1.18B,1.34B,1.25B,2021-01-30,CBOE

,Quarter,Sales Growth (year/est),EPS Est.,EPS Actual,Difference,Surprise %,date,ticker
0,Current Qtr. (Dec 2020),9.30%,1.10,1.21,0.11,10.00%,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),-12.60%,1.54,1.65,0.11,7.10%,2021-01-30,CBOE
2,Current Year (2020),10.20%,1.23,1.31,0.08,6.50%,2021-01-30,CBOE
3,Next Year (2021),0.70%,1.06,1.11,0.05,4.70%,2021-01-30,CBOE

,Quarter,Current Estimate,7 Days Ago,30 Days Ago,60 Days Ago,90 Days Ago,date,ticker
0,Current Qtr. (Dec 2020),1.23,1.23,1.17,1.16,1.12,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),1.24,1.24,1.22,1.22,1.22,2021-01-30,CBOE
2,Current Year (2020),5.28,5.28,5.23,5.21,5.14,2021-01-30,CBOE
3,Next Year (2021),5.11,5.09,5.03,4.98,4.95,2021-01-30,CBOE

,Quarter,Up Last 7 Days,Up Last 30 Days,Down Last 7 Days,Down Last 30 Days,Current Qtr.,date,ticker
0,Current Qtr. (Dec 2020),0,14.0,0,1,1.70%,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),1,8.0,0,0,0,2021-01-30,CBOE
2,Current Year (2020),0,14.0,0,1,0,2021-01-30,CBOE
3,Next Year (2021),1,12.0,0,0,0,2021-01-30,CBOE

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),-24.80%,11.60%,-3.20%,3.58%,21.47%,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,CBOE
2,Current Year (2020),0,0,0,0,0,2021-01-30,CBOE
3,Next Year (2021),0,0,0,0,0,2021-01-30,CBOE

100%|██████████████████████████████████████████████████████████████████████████████████| 56/56 [01:14<00:00,  1.33s/it]

In [155]:
list(test.columns)

['Quarter',
 'Next Qtr.',
 'Current Year',
 'Next Year',
 'Next 5 Years (per annum)',
 'Past 5 Years (per annum)',
 'date',
 'ticker']

In [161]:
test['Next Qtr.'].replace({'%':''}, regex=True,inplace=True)

In [162]:
test

,Quarter,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,Current Qtr. (Dec 2020),-24.80,11.60%,-3.20%,3.58%,21.47%,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),0,0,0,0,0,2021-01-30,CBOE
2,Current Year (2020),0,0,0,0,0,2021-01-30,CBOE
3,Next Year (2021),0,0,0,0,0,2021-01-30,CBOE

In [86]:
analysis.replace('N/A',0,inplace=True)

In [135]:
df_list=ProcessAnalysisData(columns,table_data)

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date,ticker
0,Current Qtr. (Dec 2020),15.0,1.23,1.18,1.26,1.21,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),15.0,1.24,1.18,1.34,1.65,2021-01-30,CBOE
2,Current Year (2020),16.0,5.28,5.17,5.32,4.73,2021-01-30,CBOE
3,Next Year (2021),18.0,5.11,4.87,5.50,5.28,2021-01-30,CBOE

In [131]:
len(df_list)

1

In [97]:
analysis.to_excel("Final.xlsx",index=False)

In [114]:
columns

[['Earnings Estimate',
  'Current Qtr. (Dec 2020)',
  'Next Qtr. (Mar 2021)',
  'Current Year (2020)',
  'Next Year (2021)'],
 ['Revenue Estimate',
  'Current Qtr. (Dec 2020)',
  'Next Qtr. (Mar 2021)',
  'Current Year (2020)',
  'Next Year (2021)'],
 ['Earnings History', '12/30/2019', '3/30/2020', '6/29/2020', '9/29/2020'],
 ['EPS Trend',
  'Current Qtr. (Dec 2020)',
  'Next Qtr. (Mar 2021)',
  'Current Year (2020)',
  'Next Year (2021)'],
 ['EPS Revisions',
  'Current Qtr. (Dec 2020)',
  'Next Qtr. (Mar 2021)',
  'Current Year (2020)',
  'Next Year (2021)'],
 ['Growth Estimates', 'CBOE', 'Industry', 'Sector(s)', 'S&P 500']]

In [95]:
mcols=[]
sdata=table_data[5:10]
for i in range(5):
    mcols.append(sdata[i][0])
test=pd.DataFrame(columns=mcols)
test.insert(0,'Quarter',columns[1][1:])
for id,colm in enumerate(mcols):
    test[colm]=sdata[id][1:]
    try:
        test[colm]=test[colm].astype(float)
    except:
        pass
test['date']=datetime.datetime.now().strftime("%Y-%m-%d")
test['ticker']=company
test

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago Sales,date,ticker
0,Current Qtr. (Dec 2020),12.0,306.39M,302M,311.7M,280.3M,2021-01-30,CBOE
1,Next Qtr. (Mar 2021),12.0,312.99M,295M,336.62M,358.3M,2021-01-30,CBOE
2,Current Year (2020),13.0,1.25B,1.24B,1.26B,1.14B,2021-01-30,CBOE
3,Next Year (2021),15.0,1.26B,1.18B,1.34B,1.25B,2021-01-30,CBOE

In [8]:
batch=0
writer = pd.ExcelWriter('Analysis.xlsx', engine = 'xlsxwriter')
for index,onercol in tqdm(enumerate(columns)):
    df4=pd.DataFrame(table_data[batch:len(onercol)+batch],columns=onercol)
    display(df4)
    df4.to_excel(writer,sheet_name="sheet-"+str(index),index=False)
    batch+=len(onercol)
writer.save()
writer.close()

0it [00:00, ?it/s]

,Earnings Estimate,Current Qtr. (Dec 2020),Next Qtr. (Mar 2021),Current Year (2020),Next Year (2021)
0,No. of Analysts,15,15,16,18
1,Avg. Estimate,1.23,1.24,5.28,5.11
2,Low Estimate,1.18,1.18,5.17,4.87
3,High Estimate,1.26,1.34,5.32,5.5
4,Year Ago EPS,1.21,1.65,4.73,5.28

,Revenue Estimate,Current Qtr. (Dec 2020),Next Qtr. (Mar 2021),Current Year (2020),Next Year (2021)
0,No. of Analysts,12,12,13,15
1,Avg. Estimate,306.39M,312.99M,1.25B,1.26B
2,Low Estimate,302M,295M,1.24B,1.18B
3,High Estimate,311.7M,336.62M,1.26B,1.34B
4,Year Ago Sales,280.3M,358.3M,1.14B,1.25B

          Earnings History 12/30/2019 3/30/2020 6/29/2020 9/29/2020
0  Sales Growth (year/est)      9.30%   -12.60%    10.20%     0.70%
1                 EPS Est.        1.1      1.54      1.23      1.06
2               EPS Actual       1.21      1.65      1.31      1.11
3               Difference       0.11      0.11      0.08      0.05
4               Surprise %     10.00%     7.10%     6.50%     4.70%

3it [00:00, 27.18it/s]

,EPS Trend,Current Qtr. (Dec 2020),Next Qtr. (Mar 2021),Current Year (2020),Next Year (2021)
0,Current Estimate,1.23,1.24,5.28,5.11
1,7 Days Ago,1.23,1.24,5.28,5.09
2,30 Days Ago,1.17,1.22,5.23,5.03
3,60 Days Ago,1.16,1.22,5.21,4.98
4,90 Days Ago,1.12,1.22,5.14,4.95

,EPS Revisions,Current Qtr. (Dec 2020),Next Qtr. (Mar 2021),Current Year (2020),Next Year (2021)
0,Up Last 7 Days,N/A,1,N/A,1
1,Up Last 30 Days,14,8,14,12
2,Down Last 7 Days,N/A,N/A,N/A,N/A
3,Down Last 30 Days,1,N/A,1,N/A
4,Current Qtr.,1.70%,N/A,N/A,N/A

           Growth Estimates     CBOE Industry Sector(s) S&P 500
0                 Next Qtr.  -24.80%      N/A       N/A     N/A
1              Current Year   11.60%      N/A       N/A     N/A
2                 Next Year   -3.20%      N/A       N/A     N/A
3  Next 5 Years (per annum)    3.58%      N/A       N/A     N/A
4  Past 5 Years (per annum)   21.47%      N/A       N/A     N/A

6it [00:00, 29.57it/s]
C:\Users\DELL\anaconda3\lib\site-packages\xlsxwriter\workbook.py:329: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [15]:
columns[0],table_data[0:5]

(['Earnings Estimate',
  'Current Qtr. (Dec 2020)',
  'Next Qtr. (Mar 2021)',
  'Current Year (2020)',
  'Next Year (2021)'],
 [['No. of Analysts', '15', '15', '16', '18'],
  ['Avg. Estimate', '1.23', '1.24', '5.28', '5.11'],
  ['Low Estimate', '1.18', '1.18', '5.17', '4.87'],
  ['High Estimate', '1.26', '1.34', '5.32', '5.5'],
  ['Year Ago EPS', '1.21', '1.65', '4.73', '5.28']])

In [17]:
dft=pd.DataFrame(table_data[0:5],columns=columns[0])

In [25]:
table_data[0:5][1][0]

'Avg. Estimate'

In [78]:
mcols=[]
sdata=table_data[0:5]
for i in range(5):
    mcols.append(sdata[i][0])
test=pd.DataFrame(columns=mcols)
test.insert(0,'Quarter',columns[0][1:])
for id,colm in enumerate(mcols):
    test[colm]=sdata[id][1:]
test['date']=datetime.datetime.now().strftime("%Y=%m-%d")
test

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date
0,Current Qtr. (Dec 2020),15,1.23,1.18,1.26,1.21,2021=01-30
1,Next Qtr. (Mar 2021),15,1.24,1.18,1.34,1.65,2021=01-30
2,Current Year (2020),16,5.28,5.17,5.32,4.73,2021=01-30
3,Next Year (2021),18,5.11,4.87,5.5,5.28,2021=01-30

In [53]:
test=pd.DataFrame(columns=mcols)

In [54]:
test.insert(0,'Quarter',columns[0][1:])

In [55]:
test

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS
0,Current Qtr. (Dec 2020),NaN,NaN,NaN,NaN,NaN
1,Next Qtr. (Mar 2021),NaN,NaN,NaN,NaN,NaN
2,Current Year (2020),NaN,NaN,NaN,NaN,NaN
3,Next Year (2021),NaN,NaN,NaN,NaN,NaN

In [58]:
test['No. of Analysts']=[1,2,3,4]

In [71]:
for id,colm in enumerate(mcols):
    test[colm]=sdata[id][1:]
test

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS
0,Current Qtr. (Dec 2020),15,1.23,1.18,1.26,1.21
1,Next Qtr. (Mar 2021),15,1.24,1.18,1.34,1.65
2,Current Year (2020),16,5.28,5.17,5.32,4.73
3,Next Year (2021),18,5.11,4.87,5.5,5.28

In [76]:
test['date']=datetime.datetime.now().strftime("%Y=%m-%d")

In [77]:
test

,Quarter,No. of Analysts,Avg. Estimate,Low Estimate,High Estimate,Year Ago EPS,date
0,Current Qtr. (Dec 2020),15,1.23,1.18,1.26,1.21,2021=01-30
1,Next Qtr. (Mar 2021),15,1.24,1.18,1.34,1.65,2021=01-30
2,Current Year (2020),16,5.28,5.17,5.32,4.73,2021=01-30
3,Next Year (2021),18,5.11,4.87,5.5,5.28,2021=01-30

In [72]:
import pandas as pd
import datetime
from lxml import html
from bs4 import BeautifulSoup
from selenium import webdriver
# from selenium.common.exceptions import NoSuchElementException
# from selenium.common.exceptions import StaleElementReferenceException
# from selenium.webdriver.common.by import By
# from selenium.webdriver.support.ui import WebDriverWait
# from selenium.webdriver.support import expected_conditions
import time,requests,re,os
# from dotenv import load_dotenv
pd.set_option('display.max_columns',None)
from tqdm import tqdm

In [11]:
pwd=os.getcwd()
chromedriver=r"C:\Users\DELL\Music\Automation\Automation\chromedriver.exe"#pwd+"\\chromedriver.exe"

In [12]:
def initWebdriver(mode):
    options = webdriver.ChromeOptions()
    print("Headless Mode",mode)
    if(mode):
        options.add_argument('headless')
    else:
    	print("Running in Normal Mode")
    driver = webdriver.Chrome(executable_path=chromedriver, options=options)
    return driver

In [306]:
driver=initWebdriver(False)

Headless Mode False
Running in Normal Mode

In [315]:
driver.get('https://in.finance.yahoo.com/quote/NHMAF/history?p=NHMAF')

In [316]:
for i in range(10):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1000)","")

In [317]:
source=driver.page_source

In [318]:
tree=html.fromstring(source)

In [319]:
columnNames=[]
for header in tree.xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/thead/tr'):
    for column in header.xpath('./th'):
        columnNames.append(column.text_content())

In [320]:
columnNames

['Date', 'Open', 'High', 'Low', 'Close*', 'Adj. close**', 'Volume']

In [321]:
finalrows=[]
for row in tree.xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr'):
    row_data=[]
    for col in row.xpath('./td'):
        row_data.append(col.text_content())
    if(len(row_data)==len(columnNames)):
        finalrows.append(row_data)
    #print("*"*50)

In [322]:
df2=pd.DataFrame(finalrows,columns=columnNames)

In [323]:
df2.replace('-',0,inplace=True)

In [327]:
for i in ['Open', 'High', 'Low', 'Close*', 'Adj. close**']:
    df2[i]=df2[i].apply(lambda x: float(str(x).replace(',','')))
    df2[i]=df2[i].astype(float)

In [324]:
len(df2)

253

In [290]:
df5=pd.DataFrame(columns=columnNames)

In [291]:
columnNames

['Date', 'Open', 'High', 'Low', 'Close*', 'Adj. close**', 'Volume']

In [292]:
len(["","","","","","",""]),len(columnNames),df5.index

(7, 7, Index([], dtype='object'))

In [295]:
df5.loc[0]=['farooq',"","","","","",""]

In [296]:
df5

     Date Open High Low Close* Adj. close** Volume
0  farooq

In [252]:
for i in ['Open', 'High', 'Low', 'Close*', 'Adj. close**']:
    df2[i]=df2[i].astype(float)

In [251]:
df.dtypes

Date             object
Open             object
High             object
Low              object
Close*           object
Adj. close**     object
Volume          float64
MeanVolume      float64
dtype: object

In [256]:
df2.Volume=df2.Volume.apply(lambda x: float(x.replace(',','') if type(x)=='str' else float(x)))

In [257]:
df2.Volume[0:20].mean()

0.0

In [255]:
df2.Volume.unique()

array([0], dtype=int64)

In [329]:
type(df2.Volume[0])

lxml.etree._ElementUnicodeResult

In [222]:
df2['Difference_close_price']=df2['Close*'].diff()

In [223]:
df2.head()

,Date,Open,High,Low,Close*,Adj. close**,Volume,Difference_close_price
0,27-Jan-2021,143.43,144.30,140.41,142.06,142.06,140843759,NaN
1,26-Jan-2021,143.60,144.30,141.37,143.16,143.16,98390600,1.10
2,25-Jan-2021,143.07,145.09,136.54,142.92,142.92,157611700,-0.24
3,22-Jan-2021,136.28,139.85,135.02,139.07,139.07,113907200,-3.85
4,21-Jan-2021,133.80,139.67,133.59,136.87,136.87,120529500,-2.20

In [224]:
df2['status']=df2.Difference_close_price.apply(lambda x:1 if x>0 else 0)

In [225]:
df2.head()

,Date,Open,High,Low,Close*,Adj. close**,Volume,Difference_close_price,status
0,27-Jan-2021,143.43,144.30,140.41,142.06,142.06,140843759,NaN,0
1,26-Jan-2021,143.60,144.30,141.37,143.16,143.16,98390600,1.10,1
2,25-Jan-2021,143.07,145.09,136.54,142.92,142.92,157611700,-0.24,0
3,22-Jan-2021,136.28,139.85,135.02,139.07,139.07,113907200,-3.85,0
4,21-Jan-2021,133.80,139.67,133.59,136.87,136.87,120529500,-2.20,0

In [226]:
df2['Difference_volume_price']=df2['Volume'].diff()
df2['volume_status']=df2.Difference_volume_price.apply(lambda x:1 if x>0 else 0)

In [227]:
df2['MeanVolume']=''

In [190]:
for index,data in df2.iterrows():
    df2.iloc[index]['MeanVolume']=df2.loc[index+1:20+index].Volume.mean()

<ipython-input-190-e0e9b0ee6ace>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.iloc[index]['MeanVolume']=df2.loc[index+1:20+index].Volume.mean()

In [191]:
df2.head()

,Date,Open,High,Low,Close*,Adj. close**,Volume,Difference_close_price,status,Difference_volume_price,volume_status,MeanVolume
0,27-Jan-2021,143.43,144.30,140.41,142.06,142.06,140843759,NaN,0,NaN,0,
1,26-Jan-2021,143.60,144.30,141.37,143.16,143.16,98390600,1.10,1,-42453159.0,0,
2,25-Jan-2021,143.07,145.09,136.54,142.92,142.92,157611700,-0.24,0,59221100.0,1,
3,22-Jan-2021,136.28,139.85,135.02,139.07,139.07,113907200,-3.85,0,-43704500.0,0,
4,21-Jan-2021,133.80,139.67,133.59,136.87,136.87,120529500,-2.20,0,6622300.0,1,

In [148]:
n=20
list_df = [df2[i:i+n] for i in range(0,df2.shape[0],n)]

In [153]:
df2=pd.DataFrame()
for df in list_df:
    df.loc['MeanVolume']=df.Volume.mean()
    df2=pd.concat([df,df2])

C:\Users\DELL\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [157]:
df2.MeanVolume.unique(),df2.shape

(array([1.36114092e+08, 2.43290160e+08, 2.35410320e+08, 1.49341400e+08,
        1.24401440e+08, 1.53761180e+08, 1.52538000e+08, 1.90999870e+08,
        1.82464920e+08, 1.29431190e+08, 1.07196985e+08, 1.08787550e+08,
        1.11805683e+08, 1.11805683e+08]),
 (266, 8))

In [77]:
df2.to_csv("History.csv",index=False)

In [54]:
df2['Date']=pd.to_datetime(df2.Date)

In [63]:
len(tree.xpath('//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr'))

258

In [2]:
res=requests.get('https://in.finance.yahoo.com/quote/AAPL/financials?p=AAPL')

In [5]:
tree=html.fromstring(res.text)

In [159]:
# for i in range(0,253,20):

In [228]:
mean=[]
for index,data in df2.iterrows():
    mean.append(df2.loc[index+1:20+index].Volume.mean())
df2.insert(11,'Mean2',mean)

In [229]:
len(mean)

253

In [232]:
df2.insert(11,'Mean2',mean)

In [233]:
df2.tail()

,Date,Open,High,Low,Close*,Adj. close**,Volume,Difference_close_price,status,Difference_volume_price,volume_status,MeanVolume,Mean2
248,03-Feb-2020,76.07,78.37,75.56,77.17,76.50,173985600,-2.54,0,37369200.0,1,,1.761987e+08
249,31-Jan-2020,80.23,80.67,77.07,77.38,76.71,199588400,0.21,1,25602800.0,1,,1.684021e+08
250,30-Jan-2020,80.14,81.02,79.69,80.97,80.27,126743200,3.59,1,-72845200.0,0,,1.892316e+08
251,29-Jan-2020,81.11,81.96,80.35,81.08,80.39,216229200,0.11,1,89486000.0,1,,1.622340e+08
252,28-Jan-2020,78.15,79.60,78.05,79.42,78.74,162234000,-1.66,0,-53995200.0,0,,NaN

In [300]:
data=["" for i in range(len(columnNames)-1)]

In [301]:
data[0]=1

In [302]:
data

[1, '', '', '', '', '']

In [303]:
data='5,246.00'

In [305]:
float(data.replace(',',''))

5246.0

In [328]:
float(31145287)

31145287.0

In [331]:
for i,j in df2.iterrows():
    print(i,j['Date'])
    break

0 27-Jan-2021

In [332]:
df=pd.read_excel(r"C:\Users\DELL\Music\Stockripper\Test.xlsx")

In [333]:
for i,j in df.iterrows():
    print(j)
    break

ticker                                   EPWDF
Date                       2021-01-27 00:00:00
Open                                     15.54
High                                     15.54
Low                                      15.54
Close*                                   15.54
Adj. close**                             15.54
Volume                                       0
Difference_close_price                     NaN
close_status                                 0
Difference_volume_price                    NaN
volume_status                                0
MeanVolume                             10.0952
Name: 0, dtype: object

In [342]:
','.join('%s' * len(data))

'%,s,%,s,%,s,%,s,%,s,%,s,%,s,%,s'

In [343]:
', '.join(['%s'] * len(data))

'%s, %s, %s, %s, %s, %s, %s, %s'

In [163]:
print("my name is %s,%s",'a','b')

my name is %s,%s a b

In [165]:
col_count=[5,6,4,5,4,6]
a,b=0,0
for i in col_count:
    b=i+a
    print(a,b)
    a=b

0 5
5 11
11 15
15 20
20 24
24 30

In [168]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [275]:
df=pd.read_excel(r"C:\Users\DELL\Music\Stockripper\analysis 5.xlsx")

In [292]:
df

,Quarter,Current Qtr.,Next Qtr.,Current Year,Next Year,Next 5 Years (per annum),Past 5 Years (per annum),date,ticker
0,KDDIF,-99,-18.2,5.4,2.6,-0.01,9.05,2021-01-30,KDDIF
1,Industry,0,0.0,0.0,0.0,0.00,0.00,2021-01-30,KDDIF
2,Sector(s),0,0.0,0.0,0.0,0.00,0.00,2021-01-30,KDDIF
3,S&P 500,0,0.0,0.0,0.0,0.00,0.00,2021-01-30,KDDIF

In [276]:
df1=df.T
df1.rename(columns={0:df1.iloc[0][0],1:df1.iloc[0][1],2:df1.iloc[0][2],3:df1.iloc[0][3]},inplace=True)
df1.reset_index(inplace=True)
df1.drop(df.index[0],inplace=True)
df1=df1[0:6]
df1['ticker']='ABC'
df1['Date']=datetime.datetime.now().strftime("%Y-%m-%d")

In [279]:
df1

,index,KDDIF,Industry,Sector(s),S&P 500,ticker,Date
1,Current Qtr.,-99,0,0,0,ABC,2021-01-31
2,Next Qtr.,-18.2,0,0,0,ABC,2021-01-31
3,Current Year,5.4,0,0,0,ABC,2021-01-31
4,Next Year,2.6,0,0,0,ABC,2021-01-31
5,Next 5 Years (per annum),-0.01,0,0,0,ABC,2021-01-31
6,Past 5 Years (per annum),9.05,0,0,0,ABC,2021-01-31

In [278]:
for index,data in df1.iterrows():
    print(data)

index        Current Qtr.
KDDIF                 -99
Industry                0
Sector(s)               0
S&P 500                 0
ticker                ABC
Date           2021-01-31
Name: 1, dtype: object
index         Next Qtr.
KDDIF             -18.2
Industry              0
Sector(s)             0
S&P 500               0
ticker              ABC
Date         2021-01-31
Name: 2, dtype: object
index        Current Year
KDDIF                 5.4
Industry                0
Sector(s)               0
S&P 500                 0
ticker                ABC
Date           2021-01-31
Name: 3, dtype: object
index         Next Year
KDDIF               2.6
Industry              0
Sector(s)             0
S&P 500               0
ticker              ABC
Date         2021-01-31
Name: 4, dtype: object
index        Next 5 Years (per annum)
KDDIF                           -0.01
Industry                            0
Sector(s)                           0
S&P 500                             0
ticker                            ABC
Date                       2021-01-31
Name: 5, dtype: object
index        Past 5 Years (per annum)
KDDIF                            9.05
Industry                            0
Sector(s)                           0
S&P 500                             0
ticker                            ABC
Date                       2021-01-31
Name: 6, dtype: object

In [247]:
indexes_to_keep = set(range(df1.shape[0])) - set([0,-1])

In [249]:
df_sliced = df1.take(list(indexes_to_keep))

In [250]:
df_sliced

                      index       KDDIF    Industry   Sector(s)     S&P 500
2                 Next Qtr.       -18.2           0           0           0
3              Current Year         5.4           0           0           0
4                 Next Year         2.6           0           0           0
5  Next 5 Years (per annum)       -0.01           0           0           0
6  Past 5 Years (per annum)        9.05           0           0           0
7                      date  2021-01-30  2021-01-30  2021-01-30  2021-01-30
8                    ticker       KDDIF       KDDIF       KDDIF       KDDIF

In [231]:
df1.drop(df.index[],inplace=True)

IndexError: index 4 is out of bounds for axis 0 with size 4

In [217]:
df1.columns

Index(['index', 'KDDIF', 'Industry', 'Sector(s)', 'S&P 500'], dtype='object')

In [293]:
for idx,data in df.iterrows():
    print(idx)

0
1
2
3

In [291]:
"UPDATE Customers SET currqtr ="+f"'{data['Current Qtr.']}',"+"currqtr ="+f"'{data['Next Qtr.']}',\
"+"currqtr ="+f"'{data['']}',"+"currqtr ="+f"'{data['']}',"+"currqtr ="+f"'{data['']}',"\
+f"'{data['']}',"+"currqtr ="+f"'{data['']}',"+f"'{data['']}',"+"currqtr ="+f"'{data['']}',"

KeyError: ''

In [283]:
data.get('')

index        Past 5 Years (per annum)
KDDIF                            9.05
Industry                            0
Sector(s)                           0
S&P 500                             0
ticker                            ABC
Date                       2021-01-31
Name: 6, dtype: object

In [25]:
from tqdm.notebook import tqdm

In [18]:
df=pd.read_csv(r"C:\Users\DELL\Music\Simon\Output.csv")

In [21]:
df.replace('-',0,inplace=True)

In [22]:
df.head()

,CALLS UPDATED,CALLS VOLUME,CALLS HIGH,CALL SLOW,CALLS PRIOR SETTLE,CALLS CHANGE,CALLS LAST,PUTS LAST,PUTS CHANGE,PUTS PRIOR SETTLE,PUTS LOW,PUTS HIGH,PUTS VOLUME,PUTS UPDATED,STRIKE PRICE,Date
0,16:45:00 CT 28 Jan 2021,0,0,0,0.000,0,0,0,0,0.094,0,0,0,16:45:00 CT 28 Jan 2021,2750.0,2021-02-01
1,16:45:00 CT 28 Jan 2021,0,0,0,0.006,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2650.0,2021-02-01
2,16:45:00 CT 28 Jan 2021,0,0,0,0.026,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2630.0,2021-02-01
3,16:45:00 CT 28 Jan 2021,0,0,0,0.056,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2600.0,2021-02-01
4,16:45:00 CT 28 Jan 2021,0,0,0,0.106,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2550.0,2021-02-01

In [23]:
df.shape

(8083, 16)

In [26]:
for idx,data in tqdm(df.iterrows()):
    #print(data)
    if(data['CALLS LAST']==0):
        data['CALLS LAST']=data['CALL SLOW']+data['CALLS HIGH']
    if(data['PUTS LAST']==0):
        data['PUTS LAST']=data['PUTS LOW']+data['PUTS HIGH']

HBox(children=(HTML(value=''), FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0…

In [27]:
df.head()

,CALLS UPDATED,CALLS VOLUME,CALLS HIGH,CALL SLOW,CALLS PRIOR SETTLE,CALLS CHANGE,CALLS LAST,PUTS LAST,PUTS CHANGE,PUTS PRIOR SETTLE,PUTS LOW,PUTS HIGH,PUTS VOLUME,PUTS UPDATED,STRIKE PRICE,Date
0,16:45:00 CT 28 Jan 2021,0,0,0,0.000,0,0,0,0,0.094,0,0,0,16:45:00 CT 28 Jan 2021,2750.0,2021-02-01
1,16:45:00 CT 28 Jan 2021,0,0,0,0.006,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2650.0,2021-02-01
2,16:45:00 CT 28 Jan 2021,0,0,0,0.026,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2630.0,2021-02-01
3,16:45:00 CT 28 Jan 2021,0,0,0,0.056,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2600.0,2021-02-01
4,16:45:00 CT 28 Jan 2021,0,0,0,0.106,0,0,0,0,0.000,0,0,0,16:45:00 CT 28 Jan 2021,2550.0,2021-02-01

In [28]:
df.to_csv("Farooq.csv",index=False)

In [29]:
151+153

304

In [30]:
304/2

152.0